services:
  ton-node:
    image: ghcr.io/neodix42/ton-docker-ctrl-neodix:${TON_BRANCH:-latest}
    container_name: ton-node
    restart: unless-stopped
    ports:
      - "0.0.0.0:$VALIDATOR_PORT:$VALIDATOR_PORT/udp"
      - "0.0.0.0:$LITESERVER_PORT:$LITESERVER_PORT/tcp"
    tty: true
    volumes:
      - ton:/var/ton-work
      - mytoncore:/usr/local/bin/mytoncore
    environment:
      TON_BRANCH: ${TON_BRANCH}
      GLOBAL_CONFIG_URL: ${GLOBAL_CONFIG_URL}
      IGNORE_MINIMAL_REQS: ${IGNORE_MINIMAL_REQS}
      MYTONCTRL_VERSION: ${MYTONCTRL_VERSION}
      DUMP: false
      MODE: ${MODE}
      ARCHIVE_BLOCKS: 0
      ARCHIVE_TTL: 1000000000
      STATE_TTL: 1000000000
      VERBOSITY: ${VERBOSITY}
      PUBLIC_IP: ${PUBLIC_IP}
      VALIDATOR_PORT: ${VALIDATOR_PORT}
      LITESERVER_PORT: ${LITESERVER_PORT}
      VALIDATOR_CONSOLE_PORT: ${VALIDATOR_CONSOLE_PORT}
    logging:
      driver: "json-file"
      options:
        max-size: 100m
        max-file: "3"
volumes:
  ton:
    name: ton-work
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/ton/ton
  mytoncore:
    name: mytoncore
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/ton/mtc
